body{
    background-image: url("./imgs/portada.jpg");
    height: 100%;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
}
p{
    margin:0;
    padding:0;
}
a{
    color: white;
}
table{
    margin-left: auto;
    margin-right: auto;
    border:10px solid grey;
    width: 500px;
    background-color: black;
}